# ----------------------
# Flask
# ----------------------
flask
pandas
numpy
seaborn
matplotlib
pickle-mixin
sklearn
PIL
wordcloud
joblib
os
io	
base64

# ----------------------
# Testing
# ----------------------
mock


# ----------------------
# Production Server
# ----------------------
gevent
gunicorn
