<html>
<h1><center>Job Salary Predictor for Data Related Positions</center></h1>
<h5><center>*This predictor was built based on around 1000 data related full job descriptions in 1st half 2020 so it might not reflect the current salary range. </center><h5>
<br>
<br>
<form action="{{ url_for('salary_predictor') }}" method="post">
	<center><h3> Please enter a full job description below </h3></center>
	<br>
	<center><textarea id="description" name="description" rows="10" cols="100" wrap="hard">
		
	</textarea> </center>
	<br>
	<center><button id="analyze"> Analyze Job </button></center>
</form>
<br>
<br>
<center><h4><span id='most-common-words'></span></h4></center>
<br>
{% if show_word_cloud %}
<img src="data:image/png;base64,{{ plot_url }}"></img>
{% endif %}
<br>
<center><h4><span id='salary_prediction_text'>{{salary_prediction_text}}</span></h4></center>
<br>
<center><span id='salary-range'>{{salaryRange}}</span></center>

</html>

<script> 


									
</script>