<html>
<h1><center>Job Salary Predictor for Data Related Positions</center></h1>
<br>
<br>
<form action="{{ url_for('salary_predictor') }}" method="post">
	<center><h3> Please enter a full job description below </h3></center>
	<br>
	<center><textarea id="description" name="description" rows="10" cols="100" wrap="hard">
		
	</textarea> </center>
	<br>
	<center><button id="analyze"> Analyze Job </button></center>
</form>
<br>
<br>
<center><h4><span id='most-common-words'>Most Common Words</span></h4></center>
<br>
<img id="word_cloud_image" width=200/>
<br>
<center><h4><span id='salary_prediction_text'></span></h4></center>
<br>
<center><span id='salary-range'></span></center>

</html>

<script> 


$('#analyze').on('click', function() {
				var description = $('#description').text()
				$.ajax({	
					type: 'POST',
	                url: '/predict',
	                data: {'description': description}
	            })
	            .done(function(response) {
	            	$('#salary-range').text(response.salaryRange)
	            	//$('#word_cloud_image').attr("src", 'data:image/png;base64,' + response.word_cloud_image)
	            	$('#salary_prediction_text').text("The Salary Range of this Job is: ")
				});
	            
	            
	        });

									
</script>